@namespace ProjectBlazor.Components.Pages.Maintenance.Registration.UserRegistration

<div class="col-span-12">
    <div class="bg-white rounded-lg border border-gray-200 shadow-md p-6">
        <h4 class="text-lg font-medium mb-2" style="color:@ThemeConfig.Colors.Primary;">User Registration</h4>
        <p class="text-sm text-gray-600">User Registration component - To be implemented</p>
    </div>
</div>
